/applicationApi/.idea
/applicationApi/bin
/applicationApi/obj

/applicationGui/.idea
/applicationGui/bin
/applicationGui/obj

/applicationGenSensorData/.idea
/applicationGenSensorData/bin
/applicationGenSensorData/obj

/SensorDataGen/SensorDataGen/obj
/SensorDataGen/SensorDataGen/bin

Komendy.txt